<div class="content-center items-center">
  <h1 class="font-thinner flex text-4xl pt-10 px-5 mb-8">Редактирование <%=@person.full_name%></h1>

  <%= form_for :person, method: :patch, url: person_path(@person), html: {class: "w-1/3 ml-32"} do |f|%>
    <%= f.label :surname, "Фамилия", {:class => "mb-8"} %>
    <%= f.text_field(:surname, {:class =>"mb-8 w-full block text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none"})%>

    <%= f.label :first_name, "Имя"%>
    <%= f.text_field(:first_name, {:class => "mb-8 w-full block text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none"})%>
    
    <%= f.label :middle_name, "Отчество"%>
    <%= f.text_field(:middle_name, {:class => "mb-8 w-full block text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none"})%>
    
    <%= f.label :tel, "Телефон"%>
    <%= f.telephone_field(:tel, {:class => "mb-8 w-full block text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none"})%>

    <%= f.label :address, "Адрес"%>
    <%= f.text_field(:address, {:class => "mb-8 w-full block text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none"})%>
      
    <%= f.submit({:class => "mt-8 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg sm:w-auto px-5 py-2.5 text-center"})%>
    
  <%end%>
</div>
