<!DOCTYPE html>
<html>
  <head>
    <title>Chairmansmap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <%= favicon_link_tag 'favicon.png', skip_pipeline: true %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen max-h-screen flex flex-col">
    <header class='w-full text-gray-700 bg-white border-t border-gray-100 shadow-sm body-font'>
      <div class='container flex flex-col items-start justify-between p-6 mx-auto md:flex-row'>
        <a class='flex items-center mb-4 font-medium text-gray-900 title-font md:mb-0'>
        </a>
        <nav class='flex flex-wrap items-center justify-center pl-24 text-base md:ml-auto md:mr-auto'>
            <%= link_to "Карта", root_path, class: 'mr-5 font-medium hover:text-gray-900' %>
            <%= link_to "Участники", person_index_path, class: 'mr-5 font-medium hover:text-gray-900' %>
        </nav>
      </div>
    </header>

    <main class="m-6 w-full-8 flex-auto">
      <%= yield %>
    </main>

    <footer class="p-2 bg-gray-300 text-gray-800">
      <div class="text-sm text-center">
        <p>
          Copyright © 2023 - Andrew
        </p>
      </div>
    </footer>

    <!-- Leaflet Geoserver wfs -->
    <%= javascript_include_tag "L.Geoserver" %>
  </body>
</html>
